body {
  background-color: #EFEFEF;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0px;
  color: #555555;
}
.navbar {
  background-color: #CAEDF2;
  padding: 20px;
  font-weight: bold;
}
.navbar-header {
  padding-bottom: 20px;
}
.navbar-brand {
  float: left;
}
a {
  color: #E37222;
  text-decoration: none;
}
a:hover {
  text-decoration: overline;
}
.navbar-nav {
  display: inline;
  float: right;
  margin-top: 0px;
}
.navbar-nav li {
  display: initial;
  padding-right: 20px;
}
.intro {
  top: 50%;
  left: 50%;
  position: absolute;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background-color: #E37222;
  color: #fff;
}
footer a {
  color: #CAEDF2;
}
